
    html, body {
      margin: 0;
      padding: 0;
    }
    
    .head-part {
      width: 100vw;
      height: 10vh;
      background-color: white;
      display: flex;
      align-items: center;
      padding: 0 10px;
      position:fixed;
    }
    
    .dashboard-text {
      font-weight: bold;
      margin-right: 100px;
      font-family: Roboto, sans-serif;
      font-size: 20px;
    }
    
    #search-input-container {
      position: relative;
      display: flex;
      align-items: center;
    }
    
    #search-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 15px;
      color: #d4b7ec;
      transition-duration: 0.5s;
    }
    
    #search-icon:hover {
      color: rgb(120, 47, 198);
    }
    
    #search-input {
      width: 300px;
      height: 30px;
      padding: 8px 8px 8px 30px;
      background-color: rgb(248, 250, 252);
      border: 1px solid rgb(209, 209, 209);
      outline: none;
      font-size: 16px;
      border-radius: 6px;
      transition-duration: 0.5s;
      margin-right: 700px;
    }
    
    #search-input:hover {
      border: 1px solid black;
    }
    
    .notification-button {
      width: 40px;
      height: 40px;
      background-color: rgb(239, 243, 247);
      color: black;
      transition-duration: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      text-align: center;
      position: relative;
      margin-right: 5px;
    }
    .notification-button:hover {
      background-color: rgb(120, 47, 198);
    }
    .notification-icon {
      font-size: 20px;
      color: rgb(98, 94, 94);
      transition-duration: 0.25s;
      padding: 10px;
      
    }
    .notification-icon:hover {
     
      color: rgb(255, 255, 255);
      
    }
    .profile-botton {
      width: 100px;
      height: 40px;
      background-color: rgb(239, 243, 247);
      color: black;
      transition-duration: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      text-align: center;
      padding:0px;

    }
    
    .profile-botton:hover {
      background-color: rgb(38, 128, 255);
      color: white;
      transition-duration: 0.5s;
    }
    
    .botton-text {
      font-family: Roboto, sans-serif;
      font-size: 15px;
      text-align: center;
    }

    .content-part {
      width: 100vw;
      height: 80vh;
      background-color: white;
      display: flex;
      align-items: center;
      padding:50px 0px 0px 0px;
    }
    .content-part-left {
      width: 15vw;
      height: 80vh;
      background-color: white;
      
      

    }
    .content-part-right {
      width: 80vw;
      height: 80vh;
      background-color: #edf7fd;
      border-radius: 20px;
      
    }
    .common-botton {
      width: 200px;
      height: 40px;
      background-color: rgb(239, 243, 247);
      color: black;
      transition-duration: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      text-align: center;
      padding:3px;

    }
    
    .common-botton:hover {
      background-color: rgb(38, 128, 255);
      color: white;
      transition-duration: 0.5s;
    }
    .commona-botton {
      width: 200px;
      height: 40px;
      background-color: rgb(38, 128, 255);
      color: white;
      transition-duration: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      text-align: center;
      padding:3px;

    }

    .stat-part {
      width: 80vw;
      height: 30vh;
      background-color: #edf7fd;
      display: flex;
      align-items: center;
    }
    .stat-part1 {
      width: 60vw;
      height: 30vh;
      background-color: #edf7fd;
      display: flex;
      align-items: center;
    }
    .stat-part2 {
      width: 20vw;
      height: 30vh;
      background-color: #edf7fd;
      display: flex;
      align-items: center;
    }
    .statv-part1 {
      width: 28vw;
      height: 28vh;
      background-color: #673AB7;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding:5px 5px 5px 20px;
    }
    .statv-part2 {
      width: 28vw;
      height: 28vh;
      background-color: #2196F3;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding:5px 5px 5px 20px;
    }
    .statw-part1 {
      width: 19vw;
      height: 14vh;
      background-color: #2196F3;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }
    .statw-part2 {
      width: 19vw;
      height: 14vh;
      background-color: white;
      border-radius: 20px;
      display: flex;
      align-items: center;
    }
    
    .date-part {
      width: 80vw;
      height: 5vh;
      background-color: #edf7fd;
      text-align:right;
      margin-top:70px;
    }


    .stat-text {
      font-family: Roboto, sans-serif;
      font-size: 22px;
      color:white;
      text-align: left;
    }
    .stat-text1 {
      font-family: Roboto, sans-serif;
      font-size: 22px;
      color:rgb(45, 42, 42);
      text-align: left;
    }


    .patient-part {
      width: 80vw;
      height: 50vh;
      background-color: #edf7fd;
      display: flex;
      align-items: center;
      padding:10px 1px 1px 1px;
    }
    .patient-part1 {
      width: 60vw;
      height: 50vh;
      background-color: white;
      border-radius: 20px;
      overflow:scroll;
    }
    .patient-part2 {
      width: 19vw;
      height: 50vh;
      background-color: white;
      border-radius: 20px;
      overflow:scroll;
    }
    .patient-botton {
      width: 17.5vw;
      height: 40px;
      background-color: rgb(239, 243, 247);
      color: black;
      transition-duration: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 5px;
      
      
    }
    
    .patient-botton:hover {
      background-color: rgb(38, 128, 255);
      color: white;
      transition-duration: 0.5s;
    }


